@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    --color-font-main: #353535;
    --color-background-main: #FFF1E5;
    --color-background-shadow: #dacebf;
    --color-background-pic: #FFFCFA;
    --color-font-highlight: #6A994E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* iremos trabalhar no site todo com medidas baseadas em 4px, logo 0.25 * 16 = 4 */
    font-size: 0.25rem; 
}

body {
    background: var(--color-background-main);
    font-size: 4rem;
    color: var(--color-font-main);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 20rem;
    padding: 4rem 16rem;
    position: fixed;
    box-shadow: 0 1rem 1rem var(--color-background-shadow);
    background: var(--color-background-main);
}

.header ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

.header ul a {
    text-decoration: none;
    color: var(--color-font-main);
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 16rem;
    padding: 20rem 0;
}

.main-content-home {
    display: flex;
    flex: 1;
    gap: 20rem;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.pic-46mm-62mm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    /* para alcançarmos a proporção desse modelo de foto */
    aspect-ratio: 23/31;
    background: var(--color-background-pic);
    box-shadow: 1rem 1rem 1rem var(--color-background-shadow);
}

.pic-46mm-62mm img {
    background-color: #333;
    width: 100%;
    flex: 3;
}

.pic-46mm-62mm p {
    flex: 1;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

#pic-home-text {
    font-size: 16rem;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 5%;
    top: 5%;
    transform: rotate(2deg);
}

.rot-4-neg {
    transform: rotate(356deg);
}

.text-content {
    text-align: center;
}

.display {
    margin-bottom: 2rem;
}


.display .name {
    font-size: 8rem;
    color: var(--color-font-highlight);
}

.main-content-about {
    display: flex;
    min-height: calc(100vh - 40rem);
    gap: 16rem;
}

.pics-container {
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.pivot {
    position: relative;
    width: 100%;
}

.pic-108mm-88mm {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2%;
    aspect-ratio: 22 / 27;
    box-shadow: 1rem 1rem 2rem #33333341;
    background: var(--color-background-pic);
}

.pic-108mm-88mm img {
    flex: 3;
    background: #333;
}

.pic-108mm-88mm p {
    flex: 1;
}

.pics-container .pic-108mm-88mm:nth-child(1) {
    position: absolute;
    left: 50%;
    top: -10rem;
    transform: translate(-80%, -50%) rotate(-25deg);
}

.pics-container .pic-108mm-88mm:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translate(0%, -50%) rotate(15deg);
}

.text-content-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content-about h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
}

.text-content-about p {
    margin-bottom: 2rem;
}

.main-content-education {
    display: flex;
    flex-direction: column;
}

.main-content-education section {
    flex: 1;
}

.main-content-education ul {
    display: flex;
    flex-direction: column;
}

.main-content-education ul li {
    display: flex;
    gap: 16rem;
    align-items: center;
    min-height: 200rem;
}

.main-content-education ul .img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-108mm-88mm-h {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 70%;
    aspect-ratio: 27 / 22;
    box-shadow: 1rem 1rem 2rem #33333341;
    background: var(--color-background-pic);
}

.pic-108mm-88mm-h img {
    background: #333;
    flex: 4;
}

.pic-108mm-88mm-h p {
    flex: 1.4;
}

.text-education {
    flex: 1;
    text-align: center;
}

.main-content-education .section-title {
    margin-top: 10rem;
}

.background-variation {
    background: #00000030;
}

.mail {
    padding: 4rem;
    box-shadow: 1rem 1rem 1rem var(--color-background-shadow);
    background-color: var(--color-background-pic);
}

.mail input, textarea {
    background: none;
}

.mail-subject {
    display: block;
    width: 100%;
    margin-bottom: 4rem;
    padding: 4rem;
    font-size: 6rem;
    border: none;
    border-bottom: 2px solid #630707;
}

.from-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.from-label {

}

.from-input {
    flex: 1;
    padding: 2rem 1rem;
    border: 0;
}

.mail-to {
    margin-bottom: 4rem;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-label {
    margin-bottom: 2rem;
}

.message-textarea {
    border: none;
    resize: none;
    height: 100rem;
}

.send-mail-btn {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    border: none;
    border-top: 1px solid #fdabab;
    border-left: 1px solid #fdabab;
    box-shadow: 0.5rem 0.5rem 1rem #00000052;
    background-color: #ee3838;
    font-weight: 800;
    color: #630707;
}

@media(max-width: 1040px) {
    .main-content-home {
        flex-direction: column;
    }

    .main-content-about {
        flex-direction: column;
    }

    .text-content-about {
        flex: none;
    }

    .pics-container .pic-108mm-88mm {
        width: 70rem;
        padding: 4rem;
    }
}