@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    --color-font-main: #353535;
    --color-background-main: #FFF1E5;
    --color-background-shadow: #dacebf;
    --color-background-pic: #FFFCFA;
    --color-font-highlight: #6A994E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* iremos trabalhar no site todo com medidas baseadas em 4px, logo 0.25 * 16 = 4 */
    font-size: 0.25rem; 
}

body {
    background: var(--color-background-main);
    font-size: 4rem;
    color: var(--color-font-main);
}

.page-body {
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    padding: 20rem 4rem;
    overflow-x: hidden;
}

.pic {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    background: var(--color-background-pic);
    box-shadow: 1rem 1rem 1rem var(--color-background-shadow), 0 0 1.5rem var(--color-background-shadow);
}

.pic-container {
    width: 100%;
    height: 100%;
}

.pic-container img {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.w108mm-h88mm {
    /* para alcançarmos a proporção desse modelo de foto */
    aspect-ratio: 108 / 86;
}

.w71mm-h86mm {
    /* para alcançarmos a proporção desse modelo de foto */
    aspect-ratio: 71/86;
}

.w53mm-h86mm {
    /* para alcançarmos a proporção desse modelo de foto */
    aspect-ratio: 53/86;
}

.w71mm-h86mm .pic-container {
    height: 100%;
    overflow: hidden;
}

.w71mm-h86mm .pic-text-content {
    height: 100%;
}

.pic-text-content {
    flex: 1;
    font-family: 'Caveat Brush';
    color: #333;
}

.w53mm-h86mm .pic-container {
    flex: 64;
    flex-shrink: 0;
}

.w53mm-h86mm .pic-text-content {
    flex: 22;
    flex-shrink: 0;
    width: 100%;
}


/* ================ header start ================ */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 4rem;

    width: 100%;
    height: 17rem;
    padding: 4rem;

    overflow-y: hidden;

    position: fixed;
    z-index: 99;

    box-shadow: 0 1rem 1rem var(--color-background-shadow);
    background: var(--color-background-main);

    transition: height 100ms ease-in-out;
}

.header h1 {
    font-size: 8rem;
}

.header-compact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-compact-open {
    height: 100%;
}

.header-nav-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border: none;
    background: none;
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 800;
    -webkit-user-select: none;
    user-select: none;
}

.header-nav-button span{
    display: block;
    translate: 0 -10%;
    rotate: 0;
    transition: rotate 100ms ease-in-out, translate 100ms ease-in-out, opacity 100ms ease-in-out;
}

.bar1-end-position {
    rotate: 45deg;
    translate: 2.8rem -0.5rem !important;
}

.bar2-end-position {
    opacity: 0%;
}

.bar3-end-position {
    rotate: -45deg;
    translate: -3rem -0.5rem !important;
}


.header-navigation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.header-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16rem;
    list-style: none;
}

.header-navigation a {
    padding: 2rem;
    /* border: 1px solid #000; */
    text-decoration: none;
    color: var(--color-font-main);
}

/* ================ header end ================ */

/* ================ home page start ================ */

.main-content-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    margin-top: 4rem;

    font-size: 6rem;
}

.main-content-home:nth-child(1) {
    flex: 1;
}

.main-content-home:nth-child(2) {
    flex: 1;
}

/* .pic-container {
    position: relative;
    flex: 3;
    margin-bottom: 2rem;
    overflow: hidden;
} */

#pic-home-text {
    font-size: 8rem;
    font-family: cursive;
}

#home-picture {
    width: 72rem;
    rotate: -4deg;
}

#home-picture img{
    width: 150%;
    translate: 0 10rem;
}

.text-content {
    text-align: center;
}

.display {
    margin-bottom: 2rem;
}

.display .name {
    display: block;
    margin-bottom: 2rem;
    font-size: 8rem;
    color: var(--color-font-highlight);
}

/* ================ home page end ================ */

/* ================ about page start ================ */

.main-content-about {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: calc(100vh - 40rem);
}

.pics-container {
    display: flex;
    flex: 1;
    min-height: 86rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.pivot {
    position: relative;
    /* width: 100%; */
}

#pic-about-1 {
    width: 42rem;
    position: absolute;
    left: -15rem;
    top: -2rem;
    transform: translate(-50%, -50%) rotate(-4deg);
}

#pic-about-2 {
    width: 42rem;
    position: absolute;
    left: 15rem;
    top: 3rem;
    transform: translate(-50%, -50%) rotate(8deg);
}

.text-content-about {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.text-content-about h2 {
    font-size: 6rem;
    margin-bottom: 4rem;
}

.text-content-about p {
    margin-bottom: 2rem;
}

/* ================ about page end ================ */

/* ================ education page start ================ */

.main-content-education {
    display: flex;
    flex-direction: column;
}

.main-content-education section {
    flex: 1;
}

.section-title {
    margin-bottom: 2rem;
    border-bottom: 1px solid #333;
}

.main-content-education ul {
    list-style-type: none;
    padding: 2rem;
    border: 1px solid #333;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.main-content-education li {
    margin-bottom: 2rem;
}

/* ================ education page end ================ */

/* ================ projects page start ================ */

.project-board-section-title {
    margin-bottom: 4rem;
}

.project-board-border {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5rem;
    background: #bbb;
    box-shadow: 1rem 1rem 1rem rgba(0,0,0,.2), 0 0 1.5rem rgba(0,0,0,.2);
}

.project-board-content {
    background: #ddaf7b;
    padding: 5rem;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    list-style: none;
}

.project-list li {
    position: relative;
}

.post-it {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8rem 2rem 2rem 2rem;
    border: none;
    background: #ffee58;
    text-decoration: none;
    text-align: start;
    color: var(--color-font-main);
    box-shadow: 1rem 1rem 1rem #bb9263;
}

.post-it::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #ddaf7b;
}

.post-it .pin {
    position: absolute;
    top: -3rem;
    left: -2rem;
    z-index: 10;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient( farthest-corner at 3rem 3rem ,#e0ac1c, #776125);
}

.post-it .pin::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    filter: blur(2px);
    background: #FFF;
}

.post-it-title {
    margin-bottom: 2rem;
}

.post-it-button {
    width: fit-content;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-font-main);
    color: var(--color-font-main);
    text-decoration: none;
}

.post-it-button:hover {
    background: var(--color-font-main);
    color: #ffee58;
}

.github-link {
    margin-top: 10rem;
    display: flex;
    align-items: center;
}

.github-link #github-logo {
    width: 30rem;
}

/* ================ projects page end ================ */

.mail-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mail-section h2 {
    margin-bottom: 4rem;
}

.mail {
    padding: 8rem;
    width: 100%;
    box-shadow: 1rem 1rem 1rem var(--color-background-shadow), 0 0 1.5rem var(--color-background-shadow);
    background-color: var(--color-background-pic);
}

.mail label {
    margin-bottom: 1rem;
}

.mail input, textarea {
    display: block;
    padding: 2rem 1rem;
    border: 1px solid #333;
    border-radius: 1rem;
    background: none;
}

.subject-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.email-label {
    display: block;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.message-textarea {
    resize: none;
}

.send-mail-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-font-main);
    background: none;
    border-radius: 8rem;
    box-shadow: 1rem 1rem 1rem #00000030;
    padding: 4rem;
    color: var(--color-font-main);
    font-weight: 800;
}

.send-mail-btn:hover {
    background-color: var(--color-font-main);
    color: var(--color-background-pic);
}

@media(min-width: 680px) {
    .header {
        flex-direction: row;
        gap: 0;
        padding: 4rem;
    }

    .header-nav-button {
        display: none;
    }

    .header-compact {
        flex: 0;
    }

    .header-navigation {
        flex: 1;
        justify-content: flex-end;
        font-size: 4rem;
    }

    .header-navigation ul {
        flex-direction: row;
        gap: 4rem;
    }

    .header-navigation a {
        padding: 3rem;
    }

    .main-content-home {
        flex-direction: row;
        gap: 4%;
    }

    #pic-about-1 {
        width: 50rem;
    }

    #pic-about-2 {
        width: 46rem;
        top: 7rem;
    }

    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px) {
    .header {
        padding: 0 10%;
    }

    .page-body {
        padding: 20rem 10%;
    }

    .main-content-home {
        gap: 10%;
    }

    .main-content-about {
        flex-direction: row;
    }

    .text-content-about {
        justify-content: center;
    }

    #pic-about-1 {
        width: 58rem;
        left: -20rem;
        top: -5rem;
    }

    #pic-about-2 {
        width: 54rem;
        left: 30rem;
        top: 10rem;
    }

    .project-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

